Statements

In [2]:
if (12 > 10):
    print ("if Block")
elif (12 < 10):
    print("else Block")

if Block

In [3]:
if (12 < 10):
    print ("if Block")
elif (12 < 15):
    print("else Block")

else Block

In [10]:
if ( 1 !=2 ):
    print ("if")
else: 
    print("else")
    print("just another line")

print("not part of block")

if
not part of block

In [7]:
if ( 1 ==2 ):
    print ("if")
else: print("else")

else

In [18]:
alist = [1,2,3,4,5,6]
print(alist)

[1, 2, 3, 4, 5, 6]

In [20]:
for item in alist:
    print("item is " + str(item))

item is 1
item is 2
item is 3
item is 4
item is 5
item is 6

In [15]:
string ="This is a String"
print(string)

This is a String

In [21]:
for char in string:
    print(char)

T
h
i
s

i
s

a

S
t
r
i
n
g

In [22]:
sets={1,2,3,4,5,6,7,8,9,1,2,3,4,5,6}
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
for item in sets:
    print(item)

1
2
3
4
5
6
7
8
9

In [26]:
for item in alist:
    if (item % 2)== 0 :
        print(item ** 2)
    else:
        print(item **3)

1
4
27
16
125
36

In [29]:
sum=0
for item in alist:
    
    sum= sum+item

print(sum)

21

In [31]:
i=0
for char in string:
    if (i % 2 == 0):
        print(char)
    i=i+1
string.

T
i

s
a
S
r
n

In [32]:
tuple_list=[(1,2),(3,4),(5,6)]

In [33]:
for item in tuple_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [34]:
for item in tuple_list:
    print(item[0])

1
3
5

In [35]:
for (x,y) in tuple_list:
    print(x)
    print(y)

1
2
3
4
5
6

In [39]:
my_dictionart={'k1':'v1','k2':'v2','k3':'v3'}

In [42]:
for keys,values in my_dictionart:
    print(keys)
    print(values)

k
1
k
2
k
3

In [43]:
for item in my_dictionart.items():
    print(item)

('k1', 'v1')
('k2', 'v2')
('k3', 'v3')

while starts....

In [44]:
x=True
i=0
while (x):
    print (i)
    i=i+1
    if (i==10):
        x=False

0
1
2
3
4
5
6
7
8
9

In [47]:
i=0
while (i < 10):
    print (i)
    i=i+1
else:
    print(f'i is now {i}')

0
1
2
3
4
5
6
7
8
9
i is now 10

In [72]:
i=0
while i < 20:
    #print(i)
    if (i % 2 ==0):
        i += 1
        pass    
    elif ( i ==5):
        i += 1
        continue  
    elif(i==11):
        break
    else:
        print(f'is is getting printed here {i}')
        i+=1

is is getting printed here 1
is is getting printed here 3
is is getting printed here 7
is is getting printed here 9

In [80]:
for i in range(1,10,2):
    print (i)

1
3
5
7
9

In [90]:
i=0
word='this is a string'
for item,ch in enumerate(word):
    print(item,ch)

0 t
1 h
2 i
3 s
4
5 i
6 s
7
8 a
9
10 s
11 t
12 r
13 i
14 n
15 g

In [95]:
l1=[1,2,3,4]
l2=['a','b','c']
l3=['x','y','z']
zip(l1,l2)

In [96]:
for item in zip(l1,l2,l1,l2,l3):
    print(item)

(1, 'a', 1, 'a', 'x')
(2, 'b', 2, 'b', 'y')
(3, 'c', 3, 'c', 'z')

In [97]:
type(zip(l1,l2))

zip

In [108]:
l4=zip(l1,l2)
list(l4)

TypeError: 'list' object is not callable

In [109]:
1 in l1

True

In [110]:
'a' in l2

True

In [112]:
d={'a':1,'b':2}
'a' in d.keys()

True

In [114]:
min(l1)
min(l2)

'a'

In [117]:
from random import shuffle
shuffle(l1)
l1

[3, 2, 1, 4]

In [118]:
shuffle(l1)
l1

[2, 1, 3, 4]

In [119]:
type(shuffle(l1))

NoneType

In [137]:
from random import randint
randint(1,100)

81

In [138]:
resu=input('eneter a number')

eneter a number10

In [139]:
print (resu)

10

In [142]:

mylist = [letter for letter in word]
word

'this is a string'

In [141]:
mylist

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [143]:
len(mylist)

16

In [144]:
mylist[1]

'h'

In [146]:
numlist = [num ** 2 for num in range(1,10)]
numlist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [147]:
numlist = [num ** 2 for num in range(1,10) if (num%2 ==0)]
numlist

[4, 16, 36, 64]

In [151]:
fa= [ c*(9/5) + 32  for c in range(0,37)]
fa

[32.0,
 33.8,
 35.6,
 37.4,
 39.2,
 41.0,
 42.8,
 44.6,
 46.4,
 48.2,
 50.0,
 51.8,
 53.6,
 55.400000000000006,
 57.2,
 59.0,
 60.8,
 62.6,
 64.4,
 66.2,
 68.0,
 69.80000000000001,
 71.6,
 73.4,
 75.2,
 77.0,
 78.80000000000001,
 80.6,
 82.4,
 84.2,
 86.0,
 87.80000000000001,
 89.6,
 91.4,
 93.2,
 95.0,
 96.8]

In [152]:
res=[x if x%2==0 else 'ODD' for x in range(1,11)]
res

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [158]:
res=[ x* y for x in range(1,10) for y in range(1,3)]
res

[1, 2, 2, 4, 3, 6, 4, 8, 5, 10, 6, 12, 7, 14, 8, 16, 9, 18]

In [160]:
for x in range(1,10):
    for y in range(1,3):
        print(x*y)

1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18